@model LojaVirtual.Web.Models.MarcaViewModel

<h2>Criar uma nova marca</h2>
<div id="fileError" class="alert alert-danger alert-dismissible fade show" style="display:none">
    <button type="button" class="btn-close small-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <span id="fileErrorMessage"></span>
</div>
<div id="fileSucess" class="alert alert-success alert-dismissible fade show" style="display:none">
    <button type="button" class="btn-close small-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <span id="fileSucessMessage"></span>
</div>
<form asp-action="CriarMarca">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</form>
<div id="modalContainer"></div>
@if (TempData["MensagemErro"] != null)
{
    <input type="hidden" id="mensagem-erro" value="@TempData["MensagemErro"]" />
}
@if (TempData["MensagemSucesso"] != null)
{
    <input type="hidden" id="mensagem-sucesso" value="@TempData["MensagemSucesso"]" />
}
@section Scripts {
    <script src="~/js/messages.js?v@DateTime.Now.Ticks"></script>
}