@if (User.Identity!.IsAuthenticated)
{
    <ul class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <label class="nav-link text-dark">Bem vindo, @User.Identity.Name</label>
            <button type="submit" style="width: auto" class="nav-link btn btn-link py-0">
                Logout
            </button>
        </form>
    </ul>
}
else
{
    <ul class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="login">Login</a>
    </ul>

    <ul class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="register">Registrar</a>
    </ul>
}
