@model IEnumerable<LojaVirtual.Web.Models.CategoriaViewModel>

<h2>Categorias</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="CriarCategoria" class="btn btn-primary">
                    <span title="Create New" class="fas fa-plus"></span> Nova Categoria
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model)
            {
                 <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="text-end">
                        <a href="javascript:void(0);"
                           class="btn btn-warning abrir-modal-edicao margin-right: 5px;"
                           data-url="@Url.Action("AtualizarCategoria", "Categorias", new { handle = item.Handle })">
                            <span class="fas fa-edit"></span>
                        </a>
                        <a href="javascript:void(0);"
                           class="btn btn-danger abrir-modal-exclusao margin-right: 5px;"
                           data-url="@Url.Action("DeletarCategoria", "Categorias", new { handle = item.Handle })">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<div id="modalContainer"></div>
</div>
@section Scripts {
    <script src="~/js/modalCategorias.js"></script>
}