@model IEnumerable<LojaVirtual.Web.Models.CategoriaViewModel>

<div class="dropdown text-center position-relative top-0 start 50 translate-middle-x mt-3">
    <a class="nav-link text-dark dropdown-toggle" href="#" id="shopDropdown" role="button" aria-expanded="false">
        SHOP
    </a>
    <ul class="dropdown-menu mega-menu d-flex flex-row justify-content-start"
        aria-labelledby="shopDropdown">
        @foreach (var categoria in Model)
        {
            <li><a class="dropdown-item" href="@Url.Action("Filtrar", "Catalogo", new { categoriaId = categoria.Handle })">@categoria.Nome</a></li>
        }
    </ul>
</div>