@using LojaVirtual.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "Registro do Usuário";
}

<h3>Login do Usuário</h3>
<div id="fileError" class="alert alert-danger alert-dismissible fade show" style="display:none">
    <button type="button" class="btn-close small-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <span id="fileErrorMessage"></span>
</div>
<div id="fileSucess" class="alert alert-success alert-dismissible fade show" style="display:none">
    <button type="button" class="btn-close small-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <span id="fileSucessMessage"></span>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="LembrarMe" />
                    @Html.DisplayNameFor(m => m.LembrarMe)
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
<div id="modalContainer"></div>
@if (TempData["MensagemErro"] != null)
{
    <input type="hidden" id="mensagem-erro" value="@TempData["MensagemErro"]" />
}
@if (TempData["MensagemSucesso"] != null)
{
    <input type="hidden" id="mensagem-sucesso" value="@TempData["MensagemSucesso"]" />
}
@section Scripts {
    <script src="~/js/messages.js?v@DateTime.Now.Ticks"></script>
}
