@model LojaVirtual.Web.Models.Compostas.ProdutoImagensViewModel

<div class="modal fade" id="modalAdicao" tabindex="-1" aria-labelledby="ImagemprodutoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="AdicionarImagemProduto" enctype="multipart/form-data" asp-route-Handle="@Model.HandleProduto" method="post">
                <input type="hidden" asp-for="HandleProduto"/>
                <input type="hidden" asp-for="ImagemProdutos"/>

                <div class="modal-header">
                    <h5 class="modal-title" id="ImagemprodutoModalLabel">Adicionando imagens dos produtos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>

                <div class="panel panel-default">
                    <div class="modal-header" style="padding-bottom: 5px; text-align: left; position: relative;">
                        <div>
                            <input asp-for="Files" type="file" class="form-control" multiple accept=".webp"/>
                            <span asp-validation-for="Files" class="text-danger" style="padding-bottom"></span>
                            <div>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        @if (Model.ImagemProdutos != null && Model.ImagemProdutos.Any())
                        {
                            foreach (var img in Model.ImagemProdutos)
                            {
                                <img src="@img.Url.ToString()" class="img-thumbnail" alt="Imagem do Produto" style="max-width:125px; max-height:125px; object-fit:cover;"/>
                            }
                        }
                        else
                        {
                            <p>Nenhuma imagem disponível para este produto.</p>
                        }
                    </div>
                </Div>
               
            </form>
        </div>
    </div>
</div>
